.Number{
    padding: 15px;
}

.Number-list-item {
    padding: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin: 6px;
}